<!DOCTYPE html>
<html>
  <head>
    <title> TP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: <%= locals.bgColor ? bgColor: null %> ;">
    <main style="background-color: <%= locals.bgColor ? bgColor: null %> ;">
      <p> <%= locals.userName? userName : null %>,  gracias por visitarnos</p>

    </main>


  </body>
</html>
